/* src/components/Carousel.css */

.carousel-container {
  position: relative;
  width: 100%;
  margin: 30px auto;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #FFD1DC;
}

.carousel-slide-wrapper {
    width: 100%;
    height: 100%;
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
}

.carousel-item img {
  width: 100%;
  display: block;
  height: 300px; /* Puedes ajustar esta altura */
  object-fit: cover;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  color: #D42848;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 28px;
  z-index: 10;
  transition: background-color 0.3s, color 0.3s;
}

.carousel-btn:hover {
    background-color: #D42848;
    color: white;
}

.carousel-btn.prev {
  left: 15px;
}

.carousel-btn.next {
  right: 15px;
}

.carousel-dots {
  text-align: center;
  position: absolute;
  bottom: 15px;
  width: 100%;
  z-index: 10;
}

.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.dot.active {
  background-color: #FF6B81;
}